body{
    overflow: hidden;
}
#runtime{
    left:1vw;
    top:6vh;
    width: 37vw;
    height:47vh;
}
#memory{
    top:6vh;
    left:38vw;
    width: 30vw;
    height:47vh;
    position:absolute;
}
#c1{
    top:51vh;
    left:34vw;
    width: 30vw;
    height:45vh;
    position:absolute;
}
#c2{
    top:6vh;
    left:68vw;
    width: 30vw;
    height:47vh;
    position:absolute;
}
#c3{
    top:51vh;
    left:66vw;
    width: 30vw;
    height:45vh;
    position:absolute;
}